[run]
branch = True
source = MDAnalysis
exclude_lines =
    pragma: no cover
omit =
    */migration/*
    */analysis/*
    */visualization/*
    */MDAnalysis/tests/*


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:



