# Ignore python bytecoded files
*.py[c|o]
*.[oa]
*~
*.bak
*.so
MDAnalysis.egg-info
MDAnalysisTests.egg-info
*.egg
# Ignore build dir
build/
dist/
temp/
examples/eigenvalues.dat
examples/output.txt
.project
.pydevproject
.settings
.idea
# ignore Vagrant virtual machines
.vagrant
# ignore nosetest/coverage files
.coverage
.noseids
# ignore trajectory offset caches
.adk_oplsaa.trr_offsets.pkl
.adk_oplsaa.xtc_offsets.pkl
.gram_A_identical_frames.xtc_offsets.pkl
