include src/dcd/*
include src/dcd/include/*
include src/numtools/*
include src/KDTree/*
include src/xdrfile/*
include src/pyqcprot/*
include src/transformations/*
include doc README
recursive-include doc/html *
include README INSTALL CHANGELOG LICENSE AUTHORS TODO SUMMARY.txt
include ez_setup.py setup.py setup_developer.py  setup.cfg.template
recursive-include examples *.py *.txt *dat.bz2 *.png *.pdf
