biopython
chemfiles
clustalw==2.1
codecov
cython
duecredit
griddataformats
gsd==1.9.3
hypothesis
joblib>=0.12
matplotlib
mmtf-python
mock
msmb_theme==1.2.0
netcdf4
networkx
numpy>=1.17.3
parmed
psutil
pytest
pytest-cov
pytest-xdist
scikit-learn
scipy
seaborn>=0.7.0,<=0.9
sphinx==1.8.5
sphinx_rtd_theme
sphinx_sitemap
tidynamics>=1.0.0
tqdm>=4.43.0
