graft scripts
include README INSTALL CHANGELOG LICENSE AUTHORS TODO SUMMARY.txt
include setup.py
include MDAnalysisTests/mda_nosetests
include MDAnalysisTests/data/gms/*.inp
include MDAnalysisTests/data/lammps/*.in
include MDAnalysisTests/data/Amber/*
global-exclude *~
global-exclude *.pkl
