name: GH Actions Cron CI
on:
  schedule:
    # 3 am Tuesdays and Fridays
    - cron: "0 3 * * 2,5"

concurrency:
  # Probably overly cautious group naming.
  # Commits to develop/master will cancel each other, but PRs will only cancel
  # commits within the same PR
  group: "${{ github.ref }}-${{ github.head_ref }}-${{ github.workflow }}"
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

env:
  CYTHON_TRACE_NOGIL: 1
  MPLBACKEND: agg

jobs:
  numpy_and_scipy_dev:
    if: "github.repository == 'MDAnalysis/mdanalysis'"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: setup_os
      uses: ./.github/actions/setup-os
      with:
        os-type: "ubuntu"

    - name: setup_miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: "3.11"
        miniforge-variant: Mambaforge
        miniforge-version: latest
        channel-priority: strict
        channels: conda-forge, bioconda
        add-pip-as-python-dependency: true
        architecture: x64

    - name: install_deps
      uses: ./.github/actions/setup-deps
      with:
        mamba: true
        full-deps: true

      # overwrite installs by picking up nightly wheels
    - name: nightly_wheels
      run: |
        pip install --pre -U -i https://pypi.anaconda.org/scipy-wheels-nightly/simple scipy numpy h5py matplotlib

    - name: list_deps
      run: |
        mamba list
        pip list

      # Intentionally going with setup.py builds so we can build with latest
    - name: build_srcs
      uses: ./.github/actions/build-src
      with:
        build-hole: true
        build-tests: true
        build-docs: false

    - name: run_tests
      run: |
        pytest -n $numprocs testsuite/MDAnalysisTests --durations=50 -W error::FutureWarning


  # Issue #3442
  native_march:
    if: "github.repository == 'MDAnalysis/mdanalysis'"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: setup_os
      uses: ./.github/actions/setup-os
      with:
        os-type: "ubuntu"

    - name: setup_miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: 3.11
        auto-update-conda: true
        channel-priority: flexible
        channels: conda-forge, bioconda
        use-mamba: true
        miniforge-variant: Mambaforge
        add-pip-as-python-dependency: true
        architecture: x64

    - name: install_deps
      uses: ./.github/actions/setup-deps

    - name: set_extra_flags
      run: |
        sed -i "s/#extra_cflags =/extra_cflags = -march=native -mtune=native/g" package/setup.cfg
        cat package/setup.cfg

    - name: build_srcs
      uses: ./.github/actions/build-src
      with:
        build-hole: true
        build-tests: true
        build-docs: false

    - name: run_tests
      run: |
        pytest -n $numprocs testsuite/MDAnalysisTests --disable-pytest-warnings --durations=50


  # Issue 1727
  pip-only:
    if: "github.repository == 'MDAnalysis/mdanalysis'"
    runs-on: ubuntu-latest
    strategy:
        fail-fast: false
        matrix:
          python-version: ["3.10", "3.11"]
    steps:
    - uses: actions/checkout@v3

    - name: setup_os
      uses: ./.github/actions/setup-os
      with:
        os-type: "ubuntu"

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: pip install mdanalysis
      run: |
        cd package && pip install .

    - name: pip install mdanalysistests
      run: |
        cd testsuite && pip install .

    - name: install_pip_extras
      run: |
        pip install pytest-xdist

    - name: run_tests
      run: |
        pytest -n $numprocs testsuite/MDAnalysisTests --disable-pytest-warnings --durations=50
