name: GH Actions Cron CI
on:
  schedule:
    # 3 am Tuesdays and Fridays
    - cron: "0 3 * * 2,5"
  pull_request:
    branches:
      - develop

concurrency:
  # Probably overly cautious group naming.
  # Commits to develop/master will cancel each other, but PRs will only cancel
  # commits within the same PR
  group: "${{ github.ref }}-${{ github.head_ref }}-${{ github.workflow }}"
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

env:
  CYTHON_TRACE_NOGIL: 1
  MPLBACKEND: agg

jobs:
  numpy_and_scipy_dev:
    if: "github.repository == 'MDAnalysis/mdanalysis'"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: setup_os
      uses: ./.github/actions/setup-os
      with:
        os-type: "ubuntu"

    - name: setup_miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: 3.9
        auto-update-conda: true
        channel-priority: flexible
        channels: conda-forge, bioconda
        mamba-version: "*"
        add-pip-as-python-dependency: true
        architecture: x64

    - name: install_dev_versions
      run: |
        pip install -i https://pypi.anaconda.org/scipy-wheels-nightly/simple numpy
        pip install -i https://pypi.anaconda.org/scipy-wheels-nightly/simple scipy

    - name: install_other_deps
      uses: ./.github/actions/setup-deps
      with:
        mamba: true
        numpy: ""
        scipy: ""

    - name: build_srcs
      uses: ./.github/actions/build-src
      with:
        build-hole: true
        build-tests: true
        build-docs: false

    - name: run_tests
      run: |
        pytest -n $numprocs testsuite/MDAnalysisTests --disable-pytest-warnings --durations=50


  # Issue #3442
  native_march:
    if: "github.repository == 'MDAnalysis/mdanalysis'"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: setup_os
      uses: ./.github/actions/setup-os
      with:
        os-type: "ubuntu"

    - name: setup_miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: 3.9
        auto-update-conda: true
        channel-priority: flexible
        channels: conda-forge, bioconda
        mamba-version: "*"
        add-pip-as-python-dependency: true
        architecture: x64

    - name: install_deps
      uses: ./.github/actions/setup-deps

    - name: set_extra_flags
      run: |
        sed -i "s/#extra_cflags =/extra_cflags = -march=native -mtune=native/g" package/setup.cfg
        cat package/setup.cfg

    - name: build_srcs
      uses: ./.github/actions/build-src
      with:
        build-hole: true
        build-tests: true
        build-docs: false

    - name: run_tests
      run: |
        pytest -n $numprocs testsuite/MDAnalysisTests --disable-pytest-warnings --durations=50


  # Issue 1727
  pip-only:
    if: "github.repository == 'MDAnalysis/mdanalysis'"
    runs-on: ubuntu-latest
    strategy:
        fail-fast: false
        matrix:
          python-version: ["3.10", "3.11.0-rc.2", "pypy3.8"]
    steps:
    - uses: actions/checkout@v3

    - name: setup_os
      uses: ./.github/actions/setup-os
      with:
        os-type: "ubuntu"

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: pre_installs
      if: startsWith(matrix.python-version, 'pypy')
      run: |
        sudo apt install -y libopenblas-dev 
        pypy -m ensurepip
        pypy -m pip install -U pip wheel
        which pip
        pypy -m pip install cython>=0.28.0

    - name: pip install mdanalysis
      run: |
        cd package && pip install .

    - name: pip install mdanalysistests
      run: |
        cd testsuite && pip install .

    - name: install_pip_extras
      run: |
        pip install pytest-xdist

    - name: run_tests
      run: |
        pytest -n $numprocs testsuite/MDAnalysisTests --disable-pytest-warnings --durations=50
