name: Greetings

on: [pull_request]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        pr-message: 'Hello there first time contributor! Welcome to the MDAnalysis community! We ask that all contributors abide by our Code of Conduct (https://www.mdanalysis.org/pages/conduct/) and that first time contibutors introduce themselves on the developer mailing list (https://groups.google.com/g/mdnalysis-devel) so we can get to know you.'
